body {
	line-height:35%;
	text-align:center;
	padding-left:60px;
}
a {
	font-size:125%;
}
th {
	background-color: gray;
}
ul {
	line-height:110%;
	padding-left:80px;
	text-align:left
}
li {
	font-style:italic;
}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	background-color:pink;
}
a:active{
	text-decoration:none;
}